@import url(https://fonts.googleapis.com/css?family=Pragati+Narrow);
html, body {
  background: radial-gradient(circle, #6BE3C9 20%, #1EB090);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: bold 16px Arial;
}

h1 {
  font-family: "Pragati Narrow", cursive;
  margin: 5px auto;
  color: #FAEBD7;
  letter-spacing: 0.025em;
}

.calculator {
  background: linear-gradient(DarkMagenta, #8A2C66);
  width: 370px;
  height: 450px;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  padding: 5px;
  box-shadow: 0px 4px #59163f;
}

.btn-group {
  margin: 15px auto;
  text-align: center;
  width: 92%;
}

.key {
  float: left;
  position: relative;
  margin: 4px;
  color: #8A2C66;
  border: none;
  height: 54px;
  width: 77px;
  border-radius: 3px;
  box-shadow: 0px 3px #59163f;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.2s ease;
}
.key.operator {
  background-color: #f4c381;
}
.key.operator:hover {
  background-color: #eea13b;
}
.key.return {
  background-color: #ff9fa8;
  box-shadow: 0px 3px #ff6c7a;
  color: #fff;
  background-color: #FAEBD7;
}
.key.return:hover {
  background-color: #ff5363;
}
.key.return:hover {
  background-color: #f2c993;
}
.key.return:active {
  top: 2px;
  box-shadow: 0 0 #000;
  border: none;
}
.key.return:focus {
  outline: 0;
}

.screen {
  text-align: right;
  width: 335px;
  height: 40px;
  border: #888;
  background-color: #d0479c;
  margin: 5px auto;
  border-radius: 3px;
  box-shadow: inset 0px 4px rgba(0, 0, 0, 0.55);
  font: bold 18px Arial;
  color: #FAEBD7;
  padding-right: 6px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.screen:focus {
  outline: 0;
}
